/*** ALI ADDED THIS **/

* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}


body {
	background: red;
	cursor: url(Images/Cursors/Cursor_4-8.png), default;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
}

p {
	margin: 0;
	margin-bottom:.2em;
	hyphens:none;
}

/*.body::-webkit-scrollbar-thumb {
	color:red;

}*/

.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw - 1rem);
	height: calc(100vh - 0rem);
	margin-left: .5rem; /*this is the margin all around*/
	margin-right: .5rem;
	margin-top: 0rem;
	margin-bottom:0rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: default;
	grid-column-gap: 0rem;
	grid-row-gap: 0rem;
	overflow: auto;
}



.img{
	max-width:100%;
	 height: auto;
  	padding:0px;
 	 margin:0px;
  	display: block;
}


.box {
	background: red;
	width: calc(100% - 2rem);
	height: default;
}

.box.one {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row height:default;
	height: 1fr;
	font-style: normal;
	font-size: 64px;
	color: white;
	line-height:64px;
	text-align: top;
	padding-left:.5rem;
	padding-right:.5rem;
	padding-top:.5rem;
	padding-bottom: .5rem;
	margin: 0px;
	overflow: scroll;
	overflow-x: hidden;
}

.box.two{
	grid-column-start: 3;
	grid-column-end: 4;
	padding-left:1rem;
	padding-right:0rem;
	padding-top:1.25rem;
	padding-bottom: .5rem;
	margin: 0px;
	font-style: normal;
	overflow: scroll;
	overflow-x: hidden;
}

.box.two:hover {
  cursor: url(Images/Cursors/Cursor_4-1.png), pointer;

}

.pages {
	color:white;
}



.top {

	font-style:normal;
}

.back-ll {
	font-size:22px;
	color:white;
}


.back-ll a:hover, .back-ll a:visited, .back-ll a:link, .back-ll a:active {
    text-decoration: none;
}


.back-ll-mobile a:hover, .back-ll a:visited, .back-ll a:link, .back-ll a:active {
    text-decoration: none;
}

.back-ll-mobile {
	text-decoration: none;
	display: none;
}


.meetup_pics {
	position:fixed;
	top:-800px;
}


img {
  max-width: 100%;
  height: auto;
  padding:0px;
  margin:0px;
  display: block;
}

.meetup_picshover:hover {
	  color:#C3B79C;
	    cursor: url(Images/Cursors/Cursor_4-4.png), pointer;
}

.meetup_picshover:hover ~ .meetup_pics {
  display: inline;
  z-index:10;
  pointer-events: auto;
  position:fixed;
  left: 15%;
  flex-direction: column;
/*  max-width: 65% !important;
  max-height: 65% !important;*/
  width: auto !important;
  height: auto !important;
  cursor: -webkit-grab; cursor: grab;
}

.imagetiles {
  width:70%;
  height:70%;
  max-width: 70% !important;
  max-height: 70% !important;
/*  top: 0%;
  left: 200%;*/
}

.arenabooks{
	width:100%;
  	height:100%;
  	max-width: 100% !important;
  	max-height: 100% !important;

}


body:not(.mobile) #meetup_picshover:hover + .meetup_pics {
    display: flex;
    pointer-events: none;
}





#top:hover {
	  color:#C3B79C;
  	  cursor: pointer;
}



/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color:#C3B79C;
  cursor: pointer;

}

a.box.two:hover{

	  cursor: url(Images/Cursors/Cursor_4-4.png), pointer;

}




.highlight:hover {
  color:white;
  background-color: #C3B79C;
  cursor: url(Images/Cursors/Cursor_4-4.png), pointer;

}



/*SCROLLBAR:*/


		.box.one::-webkit-scrollbar {
				width:12px;
				background:red;
			}

		.box.two::-webkit-scrollbar {
				width:12px;
				background:red;
			}



		/*Scrollbar track*/

		.box.one::-webkit-scrollbar-track{
			background:red;
			width:12px;
/*			height:auto;*/
			}



		.box.one::-webkit-scrollbar-track:hover{
			background:red;
			width:12px;
			cursor: pointer;
/*			height:auto;*/
			}

		.box.two::-webkit-scrollbar-track{
			background:red;
			width:12px;
/*			height:auto;*/
			}



		.box.two::-webkit-scrollbar-track:hover{
			background:red;
			width:12px;
			cursor: pointer;
/*			height:auto;*/
			}


		/*Scrollbar handle*/


		.box.one::-webkit-scrollbar-thumb {
		    background: red;
/*		    border: 1px dotted white;
*/		    border-radius: 10px;
			height:auto;
		}

		.box.one::-webkit-scrollbar-thumb:hover {
		    background: red;
		    border: 1px dotted white;
		    border-radius: 10px;
		    cursor: pointer;
		}

		.box.two::-webkit-scrollbar-thumb {
		    background: red;
/*		    border: 1px dotted white;
*/		    border-radius: 10px;
			height:auto;
		}

		.box.two::-webkit-scrollbar-thumb:hover {
		    background: red;
		    border: 1px dotted white;
		    border-radius: 10px;
		    cursor: pointer;
		}


@media only screen and (max-width: 1000px) {

.wrapper {
	position:static; /* ALI REMOVED FIXED PROPERTY */
	display:block;   /* ALI MADE THIS NO LONGER DISPLAU GRID */
	height:auto; /* ALI DID THIS */

}

.box.one {
	padding: 1rem;
	font-size: 48px;
	line-height: 48px;
	height:auto; /* ALI DID THIS */

}


.box.two {
	background: none;
	height:auto;
	width: 100%;
	margin-bottom: .5rem;
	font-size: 48px;
	line-height:48px;
	display:block;
}

.imagetiles {
  width:75%;
  height:75%;
  max-width: 75% !important;
  max-height: 75% !important;
  top: 0%;
  left: 0%;
}



.back-ll-mobile {
	margin-top: 1rem;
	display: block;
	font-size:24px;
	font-color:red;
}

.back-ll {
	display: none;
}

#top {
		display: none;
}


}

