/*** ALI ADDED THIS **/

* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}


body {
	background: red;
	cursor: url(Images/Cursors/Cursor_4-8.png), default;
	overflow-x: hidden;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
}


p {
	margin: 0;
	margin-bottom:1em;
	hyphens: none;
}


.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw - 1rem);
	height: calc(100vh - 0rem);
	margin-left: .5rem; /*this is the margin all around*/
	margin-right: .5rem;
	margin-top: 0rem;	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: default;
	grid-column-gap: 0rem;
	grid-row-gap: 0rem;
	overflow: auto;
}


.box {
	background: red;
	width: calc(100% - 2rem);
	height: default;
}

.box.one {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row height:default;
	font-style: normal;
	hyphens: auto;
	font-size: 42px;
	color: white;
	line-height:42px;
	text-align: top;
	padding-left:.5rem;
	padding-right:.5rem;
	padding-top:.5rem;
	padding-bottom: .5rem;
	margin: 0px;
	overflow: scroll;
	overflow-x: hidden;
	hyphens:none;

}

div {
	display:block;
}

.box.two {
	grid-column-start: 2;
	grid-column-end: 4;
	padding: 0px;
	margin-top: .75rem;
	vertical-align: top;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	background:white;
	overflow: scroll;
	overflow-x: hidden;
	cursor: url(Images/Cursors/Cursor_4-1.png), pointer;

}

.back-ll {
	font-size:22px;
	color:white;
}


.back-ll a:hover, .back-ll a:visited, .back-ll a:link, .back-ll a:active {
    text-decoration: none;
}


/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #C3B79C;
  cursor: pointer;
}

.highlight:hover {
  background-color: #C3B79C;
  color: white;
  cursor: url(Images/Cursors/Cursor_4-4.png), pointer;

}



#top:hover {
	  color:#C3B79C;
  	  cursor: pointer;
}

.posterpic {
	/*display:none!important;*/

	position:fixed;
	top:-500px;
}


.posterpic:hover { 
	display:inline-block!important;
}

.posterpicshover:hover ~ .posterpic {
  display: inline-block;
  
}

.posterpicshover:hover {
	  color:#C3B79C;
	  cursor: url(Images/Cursors/Cursor_4-4.png), pointer;
/*	  cursor-size:50%;
*/}


.imagetiles:hover {
	  color:#C3B79C;
	  cursor: url(Images/Cursors/Cursor_4-4.png), pointer;
/*	  cursor-size:50%;
*/}

.posterpic {
  display:inline-block;
  z-index:10;
  pointer-events: auto;
  position:fixed;
  top: -200%;
  left: 2.5%;
  flex-direction: column;
  width:70%;
  height:70%;
  max-width: 75% !important;
  max-height: 75% !important;
  cursor: -webkit-grab; cursor: grab;
  pointer-events:none;
}

.imagetiles {
  width:45%;
  height:45%;
  max-width: 45% !important;
  max-height: 45% !important;
  top: 0%;
  left: 0%;
}



/*SCROLLBAR:*/


		.box.one::-webkit-scrollbar {
				width:12px;
				background:red;
			}

		.box.two::-webkit-scrollbar {
				width:12px;
				background:red;
			}



		/*Scrollbar track*/

		.box.one::-webkit-scrollbar-track{
			background:red;
			width:12px;
			height:auto;
			}

		.box.one::-webkit-scrollbar-track:hover{
			background:red;
			width:12px;
			height:auto;
			cursor: pointer;
			}

		.box.two::-webkit-scrollbar-track{
			background:red;
			width:12px;
			height:auto;
			}

		.box.two::-webkit-scrollbar-track:hover{
			background:red;
			width:12px;
			height:auto;
			cursor: pointer;
			}


		/*Scrollbar handle*/


		.box.one::-webkit-scrollbar-thumb {
		    background: red;
/*		    border: 1px dotted white;
*/		    border-radius: 10px;
			height:20em;

		}

		.box.one::-webkit-scrollbar-thumb:hover {
		    background: red;
		    border: 1px dotted white;
		    border-radius: 10px;
		    cursor: pointer;

		}

		.box.two::-webkit-scrollbar-thumb {
		    background: red;
/*		    border: 1px dotted white;
*/		    border-radius: 10px;
			height:10rem;

		}

		.box.two::-webkit-scrollbar-thumb:hover {
		    background: red;
		    border: 1px dotted white;
		    border-radius: 10px;
		    cursor: pointer;

		}


@media only screen and (max-width: 1000px) {


.posterpic {
  width:75%;
  height:75%;
  max-width: 75% !important;
  max-height: 75% !important;
}



.imagetiles {
  width:95%;
  height:95%;
  max-width: 95% !important;
  max-height: 95% !important;
  top: 0%;
  left: 0%;
}



.wrapper {
	position:static; /* ALI REMOVED FIXED PROPERTY */
	display:block;   /* ALI MADE THIS NO LONGER DISPLAU GRID */
	height:auto; /* ALI DID THIS */

}

.box.one {
	padding: 1rem;
	font-size: 48px;
	line-height: 48px;
	height:auto; /* ALI DID THIS */

}


.box.two {
	background: white;
	height:auto;
	width: 100%;
	margin-bottom: .5rem;
}
	


	.back-ll {
	font-size:24px;
}

#top {
 display:none;
}

}




