* {
	box-sizing:border-box;
	padding:0;
	margin:0;
	-webkit-print-color-adjust: exact;
}

body {
	background:rgb(52, 52, 52);
	font-size:24px;
	font-family:arial;
}
#everything,
#everything2,
#everything3 {
transform-origin: 0 0;
}


input,
button,
.button {
	font-weight:bold;
	border-radius:1em;
	padding:0.5em 2em;
	display:inline-block;
	background:white;
	color:black;
	text-decoration:none;
	font-size:12px;
	border:1px solid #FFF;
	margin-left:1em;
	
}

.button.active,
.button:hover,
button:active,
button:hover {
	background:black;
	color:white;
}

.floor {
	/* width:100%; */
	/* width:1800px; */
	/* height:1200px; */
	
	display:flex;
	/* position:absolute; */
	top:0;left:0;
	position:absolute;

}

#floor2 {
    transform: scaleY(-1);
	top:600px;
	z-index:-1;
}

#floor3 {
    transform: scaleX(-1);
	top:0;
	left:1200px;
	z-index:-1
}
#floor4 {
    transform: scale(-1,-1);
	top:600px;
	left:1200px;
	z-index:-2;
}


.column {
	width:40px;
}
.column.offset {
	/* margin-top:20px; */
}

nav {
	position:fixed;
	z-index:6;
	margin:0.25em;
	
}


#nav__top--left {
	left:0;
	top:0;
}

#nav__top--right {
	right:0;
	top:0;
}

#nav__bottom--left {
	left:0;
	bottom:0;
}

#nav__bottom--right {
	right:0;
	bottom:0;
}

#grid1,
#grid2 {
	


	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	
	z-index:5;
	opacity:1;
	pointer-events:none;
	display:none;
}
#grid1.active {
	display:block;
}
#grid1 {
	background: repeating-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0) 39px, #0000FF 40px);
	background-size:80px 40px;
	background-repeat: repeat;
}

.tile {
	/* border:2px solid rgb(52, 52, 52); */
	background:black;
	width:40px;
	height:40px;
	/* border-radius:50%; */
}
.tile.white {
	background:white;
}

.flex {
	display:flex;
}

.popup__cover {
	position:fixed;
	width:100%;
	height:100vh;
	top:0;
	left:0;
	background:rgba(255,255,255,0.5);
}

.popup__content {
	position:fixed;
	background:#FFF;
	width:100%; 
	max-width:800px;
	padding:2em;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);

}

@media print {

	html, body {
		width: 17in;
		height: 11in;
		margin:0;
	  }
 nav,
 .popup__content,
 .popup__cover {
	 display:none;
 }
}