/*** ALI ADDED THIS **/

* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}


body {
	background: white;
	cursor: url(Images/Cursors/Cursor_4-6.png), default;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
}

p {
	margin: 0;
	margin-bottom:.2em;
/*	color: white;*/
	hyphens:none;
}



.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw - 1rem);
	height: calc(100vh - 0rem);
	margin-left: .5rem; /*this is the margin all around*/
	margin-right: .5rem;
	margin-top: 0rem;
	margin-bottom:0rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: default;
	grid-column-gap: 0rem;
	grid-row-gap: 0rem;
	overflow: auto;
	
}



.img{
	max-width:100%;
	height: auto;
  	padding:0px;
 	margin:0px;
  	display: block;
}


.box {
	background: white;
/*	background: #089e4b;
*/	width: calc(100% - 2rem);
	height: default;
}

.box.one {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row height:default;
	height: 1fr;
	font-style: normal;
	font-size: 64px;
	color: #089e4b;
	line-height:64px;
	text-align: top;
	padding-left:.5rem;
	padding-right:.5rem;
	padding-top:.5rem;
	padding-bottom: .5rem;
	margin: 0px;
	overflow: scroll;
	overflow-x: hidden;
	hyphens:auto; 
}

.box.two{
	grid-column-start: 3;
	grid-column-end: 4;
	font-style: normal;
	font-size: 22px;
	color: red;
	line-height:24px;
	text-align:left;
	padding-left:1rem;
	padding-right:0rem;
	padding-top:1.25rem;
	padding-bottom: .5rem;
	margin: 0px;
	font-style: normal;
	overflow-x: hidden;
	overflow: scroll;

}

.box.two:hover {
  cursor: url(Images/Cursors/Cursor_7.1.png), pointer;

}



.top {
	font-style:normal;
}


.back-ll {
	font-size:22px;
}


.back-ll a:hover, .back-ll a:visited, .back-ll a:link, .back-ll a:active {
    text-decoration: none;
}




.imagetiles {
  width:70%;
  height:70%;
  max-width: 70% !important;
  max-height: 70% !important;
/*  top: 0%;
  left: 200%;*/
}

.taxonomies_print{
	width:100%;
  	height:100%;
  	max-width: 100% !important;
  	max-height: 100% !important;

}





#top:hover {
	  color:#C3B79C;
  	  cursor: pointer;
}



/* unvisited link */
a:link {
  color: #089e4b;
}

/* visited link */
a:visited {
  color: #089e4b;
}

/* mouse over link */
a:hover {
  color:#6B38BF;
  cursor: pointer;

}

a.box.two:hover{

	  cursor: url(Images/Cursors/Cursor_4-6.png), pointer;

}


/*a.box.two:link {
  text-decoration: none;
}*/

img {
  max-width: 100%;
  height: auto;
  padding:0px;
  margin:0px;
  display: block;
}

.highlight:hover {
  color:white;
  background-color: #6B38BF;
  cursor: url(Images/Cursors/Cursor_4-8.png), pointer;

}



/*SCROLLBAR:*/


		.box.one::-webkit-scrollbar {
				width:12px;
				background:white;
			}

		.box.two::-webkit-scrollbar {
				width:12px;
				background:white;
			}



		/*Scrollbar track*/

		.box.one::-webkit-scrollbar-track{
			background:white;
			width:12px;
/*			height:auto;*/
			}


		.box.one::-webkit-scrollbar-track:hover{
			background:white;
			width:12px;
/*			height:auto;*/
			}

		.box.two::-webkit-scrollbar-track{
			background:white;
			width:12px;
/*			height:auto;*/
			}



		.box.two::-webkit-scrollbar-track:hover{
			background:white;
			width:12px;
/*			height:auto;*/
			}


		/*Scrollbar handle*/


		.box.one::-webkit-scrollbar-thumb {
		    background: white;
/*		    border: 1px dotted white;
*/		    border-radius: 10px;
			height:10em;
		}

		.box.one::-webkit-scrollbar-thumb:hover {
		    background: white;
		    border: 1px dotted #089e4b;
		    border-radius: 10px;
		}

		.box.two::-webkit-scrollbar-thumb {
		    background: white;
/*		    border: 1px dotted white;
*/		    border-radius: 10px;
			height:auto;
		}

		.box.two::-webkit-scrollbar-thumb:hover {
		    background: white;
		    border: 1px dotted #089e4b;
		    border-radius: 10px;
		}


@media only screen and (max-width: 1000px) {


.box.one {
	grid-column-start: 1;
	grid-column-end: 3;
	font-size: 48px;
	line-height: 48px;
	overflow:scroll;
	overflow-x: hidden;

}

.box.two {
	grid-column-start: 1;
	grid-column-end: 3;
	overflow:scroll;
	overflow-x: hidden;
}

.imagetiles {
  width:75%;
  height:75%;
  max-width: 75% !important;
  max-height: 75% !important;
  top: 0%;
  left: 0%;
}


.wrapper {
	grid-template-columns: 1fr;
	}

.back-ll {
	font-size:24px;
}

#top {
margin-bottom: 48px;
}


}

