/*** ALI ADDED THIS **/

* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}


body {
	background: white;
	cursor: url(Images/Cursors/Cursor_4-4.png), default;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
}

p {
	margin: 0;
	margin-bottom:.2em;
	color: red;
	hyphens:none;
}


.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw - 1rem);
	height: calc(100vh - 0rem);
	margin-left: .5rem; /*this is the margin all around*/
	margin-right: .5rem;
	margin-top: 0rem;
	margin-bottom:0rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: default;
	grid-column-gap: 0rem;
	grid-row-gap: 0rem;
	overflow: auto;
}

.box {
	background: white;
	width: calc(100% - 2rem);
	height: default;
}


.img{
	max-width:10%;
	height: auto;
  	padding:0px;
 	margin:0px;
  	display: block;
}


.box.one {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row height:default;
	height: 1fr;
	font-style: normal;
	font-size: 64px;
	color: red;
	line-height:64px;
	text-align: top;
	padding-left:.5rem;
	padding-right:.5rem;
	padding-top:.5rem;
	padding-bottom: .5rem;
	margin: 0px;
	overflow: scroll;
	overflow-x: hidden;

}

.box.two{
	grid-column-start: 3;
	grid-column-end: 4;
	font-style: normal;
	font-size: 22px;
	color: red;
	line-height:24px;
	text-align:left;
	padding-left:1rem;
	padding-right: 1rem;
	padding-top:1.5rem;
	padding-bottom: .5rem;
	margin: 0px;
	font-style: normal;
	overflow: scroll;
	overflow-x: hidden;


}

.box.two:hover {
  background-color: yellow;
  cursor: url(Images/Cursors/Cursor_4-1.png), pointer;

}


.back-ll {
	font-size:22px;
	color:red;
}


.back-ll a:hover, .back-ll a:visited, .back-ll a:link, .back-ll a:active {
    text-decoration: none;
}

.back-ll-mobile a:hover, .back-ll a:visited, .back-ll a:link, .back-ll a:active {
    text-decoration: none;
}

.back-ll-mobile {
	text-decoration: none;
	display: none;
}




.bookmarkpics {
	position:fixed;
	top:-800px;
}


.bookmarkpicshover:hover {
	  color:#C3B79C;
	  cursor: url(Images/Cursors/Cursor_4-2.png), pointer;
}

.bookmarkpicshover:hover ~ .bookmarkpics {
  display: inline;
  z-index:10;
  pointer-events: auto;
/*  width:65%;
  height:65%;*/
  position:fixed;
/*  top: 10%;*/
  left: 15%;
  flex-direction: column;
/*  max-width: 65% !important;
  max-height: 65% !important;*/
  width: auto !important;
  height: auto !important;
  cursor: -webkit-grab; cursor: grab;
}

.imagetiles {
  width:50%;
  height:50%;
  max-width: 50% !important;
  max-height: 50% !important;
/*  top: 0%;
  left: 200%;*/
}




body:not(.mobile) #bookmarkpicshover:hover + .bookmarkpics {
    display: flex;
    pointer-events: none;
}
*/




#top:hover {
	  color:#C3B79C;
  	  cursor: pointer !important;
}


/*LINKS*/

		/* unvisited link */
		a:link {
		  color: red;
		}

		/* visited link */
		a:visited {
		  color: red;
		}

		/* mouse over link */
		a:hover {
		  color:#C3B79C;
		  cursor: pointer;

		}

		a.box.two:hover{

			  cursor: url(Images/Cursors/Cursor_4-2.png), pointer;

		}


		a.box.two:link {
		  text-decoration: none;
		}

		img {
		  max-width: 100%;
		  height: auto;
		  padding:0px;
		  margin:0px;
		  display: block;
		}

.highlight:hover {
  background-color: yellow;
  color: red;
  cursor: url(Images/Cursors/Cursor_4-2.png), pointer;

}



/*SCROLLBAR:*/


		.box.one::-webkit-scrollbar {
				width:12px;
				background:white;
			}

		.box.two::-webkit-scrollbar {
				width:12px;
				background:white;
			}



		/*Scrollbar track*/

		.box.one::-webkit-scrollbar-track{
			background:white;
			width:12px;
			height:auto;
			}

		.box.one::-webkit-scrollbar-track:hover{
			background:white;
			width:12px;
			height:auto;
			cursor: pointer;
			}

		.box.two::-webkit-scrollbar-track{
			width:12px;
			height:auto;
			background:white;
			}

		.box.two::-webkit-scrollbar-track:hover{
			background:yellow;
			width:12px;
			height:auto;
			cursor: pointer;
			}


		/*Scrollbar handle*/


		.box.one::-webkit-scrollbar-thumb {
		    background: white;
/*		    border: 1px dotted white;
*/		    border-radius: 10px;
			height:20em;

		}

		.box.one::-webkit-scrollbar-thumb:hover {
		    background: white;
		    border: 1px dotted red;
		    border-radius: 10px;
		    cursor: pointer;

		}

		.box.two::-webkit-scrollbar-thumb {
		    background: white;
/*		    border: 1px dotted white;
*/		    border-radius: 10px;
			height:10rem;

		}

		.box.two::-webkit-scrollbar-thumb:hover {
		    background: white;
		    border: 1px dotted red;
		    border-radius: 10px;
		    cursor: pointer;

		}


@media only screen and (max-width: 1000px) {


.wrapper {
	position:static; /* ALI REMOVED FIXED PROPERTY */
	display:block;   /* ALI MADE THIS NO LONGER DISPLAU GRID */
	height:auto; /* ALI DID THIS */

}

.box.one {
	padding: 1rem;
	font-size: 48px;
	line-height: 48px;
	height:auto; /* ALI DID THIS */

}


.box.two {
	background: none;
	height:auto;
	width: 100%;
	margin-bottom: .5rem;
	font-size: 48px;
	line-height:48px;
}


.imagetiles {
  width:75%;
  height:75%;
  max-width: 75% !important;
  max-height: 75% !important;
  top: 0%;
  left: 0%;
}


#top {
 display:none;
}

.back-ll-mobile {
	display: block;
	font-size:24px;
	font-color:red;
}

.back-ll {
	display: none;
}

}

