* {
	box-sizing:border-box;
	padding:0;
	margin:0;
}

body {
	background:rgb(52, 52, 52);
}
#everything {
transform-origin: 0 0;
}

.floor {
	/* width:100%; */
	/* width:1800px; */
	/* height:1200px; */
	
	display:flex;
	/* position:absolute; */
	top:0;left:0;
	position:absolute;

}

#floor2 {
    transform: scaleY(-1);
	top:580px;
	z-index:-1;
}

#floor3 {
    transform: scaleX(-1);
	top:0;
	left:1090px;
	z-index:-1
}
#floor4 {
    transform: scale(-1,-1);
	top:580px;
	left:1090px;
	z-index:-2;
}


.column {
	width:35px;
}
.column.offset {
	margin-top:20px;
}

.tile {
	border:2px solid rgb(52, 52, 52);
	background:black;
	width:40px;
	height:40px;
	border-radius:50%;
}
.tile.white {
	background:white;
}

